*{
    font-family: 'Josefin Sans', sans-serif;
}
p{
    font-size: 16px;
}
.content{
    background-image: url('/src/images/imagen-fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
   
  }
.cardCustom{
    width: 41%;
    height: auto;
    background-color: #022332;
    opacity: 0.9;
    margin: auto;
    margin-top: 205px;
    margin-bottom: 200px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border-radius: 23px;
}
.btnAccess{
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color: #229A9B;
    border-radius: 4px;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
}

.btnAccess:hover{
    background-color: #DFEFE7;
    color: #022332;
    cursor: pointer;
    animation: shake 0.6s infinite;
}
.flagsHouse img{
    width: 54.06px;
    height: 67px;
    margin:0;
}

.flagsHouse{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 48.5px;
}

@keyframes shake {
    0%{
        transform: translate(0px, 0px) rotate(0deg);
    }
    25%{
        transform: translate(1px, 1px) rotate(1deg);
    }
    50%{
        transform: translate(-1px, 1px) rotate(-1deg);
    }
    75%{
        transform: translate(2px, -1px) rotate(2deg);
    }
    100%{
        transform: translate(-1px, 1px) rotate(-1deg);
    }
}